.title-contacto span{
    color: rgb(228, 17, 17);
}
.contenido_contacto
{
    height: 70%;
    margin: auto;
}
.box_formulario{
    box-shadow:  0 5px 35px rgba(0,0,0,0.08);
}
.title_formulario{
    margin-top: -40px;
}
.img_contacto{
    height: 200px;
    width: 250px;
}
.img_contacto img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.btn_contacto{
    background-color: rgb(228, 17, 17);
    outline: none;
    border: none;
}


@media (min-width:320px)
{
   .box_formulario{
    width: 100%;
   }
   .img_contacto{
       width: 90%;
       height: 200px;
       margin: auto;
   }
}
@media (min-width:768px)
{
   .box_formulario{
    width: 50%;
   }
   .img_contacto{
       height: 300px;
       width: 45%;
   }
}
@media (min-width:1025px)
{
 .contenido_contacto{
    width: 90%;
 }
}
footer{
    box-shadow:  0 5px 0 rgba(0,0,0,0.08);
}